* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: hsla(267, 4%, 59%, 0.687);
    color: hsla(0, 0%, 100%, 0.535);
    text-align: center;
    font-family: Arial, sans-serif;
}

h1 {
    margin: 20px;
    color: #333333;
}

canvas {
    background: lab(5.46% 0 0 / 0.886);
    border: 3px solid white;
}
.controles-mobile {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin: 20px auto;
   
}

.controles-mobile button {
    width: 90px;
    height: 90px;
    font-size: 40px;
    border: none;
    border-radius: 15px;
    background: white;
    cursor: pointer;
}

.controles-mobile button:active {
    transform: scale(0.95);
}